@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#big {
  justify-content: center;
  align-items: center;
}
#card {
  background-color: white;
  width: 300px;
  height: 450px;
  border: 2px solid white;
  border-radius: 10px;
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 90px;
}
#icon {
  width: 100%;
  height: 15%;
}
#number {
  width: 100%;
  height: 70%;
  align-items: center;
  background-color: red;
  text-align: center;
}
#icon2 {
  height: 15%;
  float: right;
  transform: rotate(180deg);
}
